html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.wrapper {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #be2d4a;
}

.App-link:hover, .App-btn:hover {
  background-color: #bc1738;
  box-shadow: 2px 2px 20px #000;
}

i.fa-level-down-alt {
  transition: transform 500ms;
  font-size: 40px;
}

.App-link:hover i.fa-level-down-alt{
  transform: translateY(10px);
}

.App-btn {
  color: #FFF;
  padding: 20px;
  background-color: #be2d4a;
}

/******* EMAIL-BOX *******/
.email-box {
  height: 150px;
  min-width: 700px;
  border: dashed 2px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.email-content {
  min-width: 70%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.copy-btn {
  cursor: pointer;
  font-size: 25px;
  height: 50px;
  width: 60px;
  background-color: #00c497;
  border-radius: 50%;
  border-color: transparent;
  margin-right: 5px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.copy-btn:hover {
  background-color: rgba(110, 110, 110, 0.67);
}
.email {
  /* margin-right: auto; */
  margin-left: 20px;
  display: inline-block;
  padding: 10px;
  background: transparent;
  border: none;
  color: #FFF;
  width: 100%;
  font-size: 20px;
}

/******* TOOL-TIP *******/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(110, 110, 110, 0.67);
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 15px;
 
  position: absolute;
  top: 50px;
  right: -40px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/******* INBOX *******/
.inbox {
  background-color: #FFF;
  color: #000;
}

.inbox h2 {
  margin-top: -50px
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.8em;
  font-family: sans-serif;
  min-width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr, tr {
  background-color: #282c34;
  color: #fff;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: left;
}

.styled-table td:last-child {
  padding-left: 30px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr td:hover {
  text-decoration: underline;
  cursor: pointer;
}

.styled-table tbody tr:hover td:last-child {
  color: #00c497;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
  color: #000;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #00c497;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #e6e3e3;
  color: #000;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.controls button {
  padding: 10px;
  background: rgba(110, 110, 110, 0.67);
  border: none;
  cursor: pointer;
  color: #FFF;
  border-radius: 20px;
  margin: 10px;
  transition: background-color 500ms;
}

.controls button:active {
  box-shadow: 2px 2px 10px #000;
  transform: translateY(1px);
}
/* .controls button:active .fa-redo-alt {
  transition: all 1s;
  transform: rotate(360deg);
  animation: refresh 1s linear;
} */
@keyframes refresh {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}
.controls button:hover {
  background: #00c497;
}

.controls button i {
  margin-right: 5px;
  font-size: 15px;
}

input:focus{
  outline: none;
}

.message-content {
  margin-top: 10px;
  min-height: 300px;
  min-width: 800px;
  border-radius: 5px;
}
.email-header {
  width: 100%;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #282c34;
  text-align: left;
  color: #FFF;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;  
}
/* .email-title {
} */
.sender-info {
  text-align: left;
  font-size: 15px;  
  padding: 10px 10px;
  background-color: rgba(110, 110, 110, 0.1);
  color: rgba(110, 110, 110, 0.9);
  border-bottom: 1px solid rgba(110, 110, 110, 0.9);
}
.sender-info span {
  color: rgba(110, 110, 110, 0.67);
}
.email-txt {
  font-size: 15px;
  text-align: left;
  padding: 20px 10px;
  background-color: rgba(110, 110, 110, 0.1);
}

/* Countdown */
#countdown {
  margin-top: 30px;
  border: 5px solid #FFF;
  display:inline;
  padding: 5px;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  min-width: 120px;
}
